@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.font-pacifico {font-family:"Pacifico";} 

.big {
	font-size: 7rem;
	background: rgb(240,234,45);
background: linear-gradient(232deg, rgba(240,234,45,0.840795693277311) 0%, rgba(229,103,30,0.8968181022408963) 53%, rgba(229,30,30,0.8968181022408963) 92%);
	-webkit-background-clip:text;
	color: transparent;
}
.bg-black {
	background-color: ##1C1C1C !important;
}
